In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv('data_earthquake_2000-2017.csv',encoding='latin1', sep=';')
dataset.head()

,Año,Mes,Día,Hora,Minuto,Segundo,Fecha,Latitud,Longitud,Prof.,Magn,Date,Horario,Dtime,time,diff
0,2000,1,2,3,42,12.7,36527,-33.410,-70.880,81.9,2.5,36527,0.154314,36527.15431,1.154314,0.000000
1,2000,1,2,5,3,13.1,36527,-33.787,-71.339,45.8,3.7,36527,0.210568,36527.21057,1.210568,0.056255
2,2000,1,2,18,55,55.0,36527,-31.535,-71.318,35.7,3.8,36527,0.788831,36527.78883,1.788831,0.578263
3,2000,1,2,19,36,25.8,36527,-32.446,-70.923,95.2,2.7,36527,0.816965,36527.81697,1.816965,0.028134
4,2000,1,3,2,41,41.7,36528,-32.986,-71.348,41.8,3.6,36528,0.112288,36528.11229,2.112288,0.295323

In [37]:
max_lat = dataset['Latitud'].max()
min_lat = dataset['Latitud'].min()
max_lon = dataset['Longitud'].max()
min_lon = dataset['Longitud'].min()

zone1 = dataset[dataset['Latitud'] > -23]
zone2 = dataset[(dataset.Latitud < -23) & (dataset.Latitud > -34)] 
zone3 = dataset[dataset['Latitud'] < -34]

In [ ]:
#antofa  	-23.6523609, -70.395401



print(min_lat,max_lat,min_lon,max_lon)
n_rows = n_columns = 64
matrix = np.zeros(shape=(n_rows,n_columns))
n_sum_lat = (max_lat-min_lat)/n_columns
n_sum_lon = (max_lon-min_lon)/n_rows
start_lon = min_lon
end_lon = min_lon + n_sum_lon
n_days = len(days)
X = []
for k in range (n_days):
    dayk = data.loc[(data['Date'] == days[k])]
    start_lon = min_lon
    end_lon = min_lon + n_sum_lon
    for i in range (n_rows):
        start_lat = min_lat
        end_lat = min_lat + n_sum_lat
        for j in range (n_columns):
            x = dayk.loc[(dayk['Latitude'] >= start_lat) & (dayk['Latitude'] <= end_lat) & (dayk['Longitude'] >= start_lon) & (dayk['Longitude'] <= end_lon)]
            matrix[i][j] = x.shape[0]
            start_lat = end_lat
            end_lat = end_lat + n_sum_lat
        start_lon = end_lon
        end_lon = end_lon + n_sum_lon
    X.append(matrix)

In [28]:
years = pd.unique(dataset.Año)
for year in years:
    print(len(dataset[dataset['Año']==year].Mes))

1136
2413
3036
4298
3483
3592
3801
3559
5008
4008
7631
5673
4943
5091
6741
6584
6479
8160

In [39]:
1+1

2